snippet /**
	/**
	 * ${1:Short description}
	 *
	 * @file `expand('%')`
	 * @package ${2}
	 * @author `system('/usr/local/git/bin/git config --get user.name')` <`system('/usr/local/git/bin/git config --get user.email')`>
	 */
